<html> 
  <head>
    <meta charset="UTF-8">
    <title>Title</title> 
  </head> 
  <body>
    <div>
    <h1>H1 Текст</h1>
    <h2>H2 Текст</h2>
    <h6>H6 Текст</h6>
    <p>О природе

    <br>Природа – это не просто совокупность лесов, полей и рек, это живой, дышащий организм, <span style="color:green">где каждая мельчайшая 
    деталь играет свою роль в сложном танце жизни.</span>
    <br>От восхода солнца, заливающего золотом вершины деревьев, до ночного неба, усыпанного мириадами звезд, природа являет 
    собой бесконечный источник вдохновения и умиротворения.</p>
    <a href="file:///C:/Study/autotests-ui/templates/index.html" target="_blank">Python</a>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
    <ol>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ol>
    <form action="/action" method="POST">
      <input type="text" value="12345" placeholder="text"><br>
      <input required type="email" placeholder="email"><br>
      <input type="password" placeholder="password"><br>
      <textarea required placeholder="Text">12345</textarea><br>
      <button type="submit">Text</button>
    </form>
    </div>


  </body> 
</html>